# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
backend/.env
frontend/.env
ai-service/.env

# Uploads
backend/uploads/

# Python
ai-service/venv/
__pycache__/
*.pyc

# Frontend build
frontend/dist/

# OS
Thumbs.db
.DS_Store
